
element.style {
    transform: translate3d(-1071.35px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
}
@media screen and (max-width: 991px)
.infinite-scroll-wrapper{
margin-bottom: -96px;
padding-bottom: 0;
}

